:root{
  --primary-color:#141517;
  --secondary-color:#1A1B1E;
  --white:#FFFFFF;
  --grey:#C4C4C4;
  --red:#C41818;
  --goldish:#F4C567;
  --ivory:#C5B48D;
  --maroon:#A06F57;
  --orange:#E59535;
  --dark-grey:#666666;
  --font-color:#C1C2C5;
}
@font-face {
  font-family: Copperplate-Bold;
  src: url(assets/fonts/Copperplate/CopperplateCC-Bold.ttf);
}
@font-face {
  font-family: Copperplate-Heavy;
  src: url(assets/fonts/Copperplate/CopperplateCC-Heavy.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Copperplate-Heavy;
  color: var(--font-color);
}

#root{background-color: var(--primary-color);}

html{
  background-color: var(--primary-color);
  overflow: hidden;
}

ul{
  list-style: none;
}

header,nav,footer{
  background-color: var(--secondary-color);
  border: var(--dark-grey) 1px solid;
}

footer{
    height: 4.22rem;
    border-right: 0;
}

.container{
  max-width:900px;
  margin: 1rem auto;
  padding-bottom: 1rem;
}

.required label:after { 
   content:"*";
   margin-left: .25rem;
   color:red;
}