:root{
  /* --primary-color:#870707;
  --secondary-color:#FAEFC3; */
  --primary-color:#141517;
  --secondary-color:#1A1B1E;
  --white:#FFFFFF;
  --grey:#C4C4C4;
  --red:#C41818;
  --goldish:#F4C567;
  --ivory:#C5B48D;
  --maroon:#A06F57;
  --orange:#E59535;
  --dark-grey:#666666;
}
@font-face {
  font-family: Copperplate-Bold;
  src: url(assets/fonts/Copperplate/CopperplateCC-Bold.otf);
}
@font-face {
  font-family: Copperplate-Heavy;
  src: url(assets/fonts/Copperplate/CopperplateCC-Heavy.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: var(--primary-color);
  overflow: hidden;
}

ul{
  list-style: none;
}

header,nav,footer{
  background-color: var(--secondary-color);
  border-left: var(--grey) 1px solid;
  border-bottom: var(--grey) 1px solid;
}

nav{
    width: 15rem;
    height: calc(100vh - 10rem);
}
.nav-button{
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-button:has(.dropdown-title){
  justify-content: space-between;
}
.nav-icon{
    margin-right: 1rem;
    font-size: 1.25rem;
}
.dropdown-items .nav-icon{
    margin-left: 1rem;
    color: var(--ivory);
}
li:has(.dropdown-items){border-left:  1px solid transparent;}
li:has(.show){border-left-color: var(--grey);}
.collapsed .fa-chevron-right{
    transform: rotate(90deg);
}
footer{
    height: 5rem;
}
@media only screen and (max-width:700px) {
    nav{
      width: 100%;
    }
    .navbar-toggler{
      display: block;
    }
}